.card {
  background-color: #cae9f6;
  padding: 20px;
  margin: 40px auto;
  border-radius: 15px;
  width: 500px;
  &__name {
    font-size: 30px;
    color: black;
    font-weight: 300;
    text-align: center;
    margin: 0;
  }
  &__entry {
    color: black;
    font-weight: 100;
    text-align: center;
    margin: 0;
    font-size: 18px;
  }
  &__img {
    margin: 0 auto;
    height: 150px;
    display: block;
  }
}
