@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.bug {
  background-color: #8f9e1e;
}
.electric {
  background-color: #f6b915;
}
.fire {
  background-color: #ca2002;
}
.grass {
  background-color: #538f31;
}
.normal {
  background-color: #b1ac9c;
}
.rock {
  background-color: #9f853e;
}
.dark {
  background-color: #3b2d27;
}
.fairy {
  background-color: #e48de1;
}
.flying {
  background-color: #5b75d3;
}
.ground {
  background-color: #c7a657;
}
.poison {
  background-color: #7a3b7b;
}
.steel {
  background-color: #908ea3;
}
.dragon {
  background-color: #7c68dc;
}
.fighting {
  background-color: #742d19;
}
.ghost {
  background-color: #51539e;
}
.ice {
  background-color: #7edcf6;
}
.psychic {
  background-color: #da3167;
}
.water {
  background-color: #3492ee;
}
.types-text {
  color: white;
  display: inline-block;
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 4px;
  font-family: 'Press Start 2P', cursive;
  font-weight: 100;
  margin: 0px 10px;
  text-shadow: 1.3px 1.3px #333;
}

h1 {
  text-align: center;
}
